<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FESTIVALS</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'agency/festivals_style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li id="nav_start">START</li>
            <li id="nav_register">SIGN UP</li>
            <li id="nav_login">LOG IN</li>
            <li id="nav_genres">GENRES</li>
            <li id="nav_festival"><b>FESTIVALS</b></li>
            <li id="nav_ticket">TICKETS</li>
        </ul>
    </nav>


    <footer>
        &copy; Weronika Wdowiak 2022<br>
    </footer>

</body>
</html>