<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Sign Up{% endblock %}

    {% block content %}
        <h3>We are happy that you are going to join us!</h3>
        <form action="{% url 'account:signup_result' %}" method="post" class="signup">
            {% csrf_token %}
            <fieldset>
                <legend>Enter your data</legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <input type="text" name="F_name" placeholder="Name" required>
                    <input type="text" name="F_surname" placeholder="Surname" required>
                    <input type="text" name="F_login" placeholder="Login" required>
                    <input type="text" name="F_email" placeholder="E-mail" required>
                    <input type="password" name="F_password" placeholder="Password" required>
                    <input type="password" name="F_password_2" placeholder="Reenter password" required>
                    <input type="text" name="F_phone_number" placeholder="Your phone number" required>
            </fieldset>
            <button type="submit">Sign in</button>
        </form>
    {% endblock %}

</body>
</html>
